<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.g_automation.smart_lava_machine" >


    <uses-permission  android:name = "android.permission.INTERNET" />
    <uses-permission  android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_smart_lava_machine"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
       <!-- Atividade da tela inicial ========================!-->
        <activity
            android:name="com.g_automation.smart_lava_machine.ActivitySplash"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Atividade da tela controle ========================!-->

        <activity
            android:name="com.g_automation.smart_lava_machine.ActivityControle"
            android:theme="@style/Theme.AppCompat"
            android:label=""
            android:screenOrientation="portrait" >
        </activity>
        <!-- Atividade da tela lista de dispositivos ========================!-->

        <activity
            android:name="com.g_automation.smart_lava_machine.ListaDispositivos"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/Dispositivos" >
        </activity>
        <!-- Atividade da tela lista de aparelhos ========================!-->


    </application>

</manifest>
